.parallax.app-background-me {
    background-image: linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ), url('/app/images/me.jpg');
}

header {
    position: sticky;
    /* Because the hero image is 100vh */
    top: -100vh;
    background-color: white;
    z-index: 10;
}

.table-of-contents {
    position: sticky;
    /* Because the hero image is 100vh */
    top: 46px;
    background-color: grey;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 100;
    width: 190px;
}

.table-of-contents h4 {
    color: white;
}

.table-of-contents a {
    color: aliceblue;
}

.table-of-contents a.active {
    font-weight: bold;
}

main {
    /* Because the sticky footer is 48px */
    padding-bottom: 48px;
}

body {
    /* Taken from https://stackoverflow.com/questions/21616520 */
    background-image: url('https://i.stack.imgur.com/LCCB6.jpg');
    background-repeat: repeat;
}

section {
    background-color: white;
    padding: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    z-index: 9;
    position: fixed;
    bottom: 0;
    height: 48px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer > p {
    width: 100%;
    margin: 0;
    padding-right: 8px;
    text-align: right;
}

tr:nth-child(even) td:nth-child(1) {
    background-color: aliceblue;
}

td.work {
    background-color: rgb(214, 79, 84);
    color: white;
}

td.meeting {
    background-color: rgb(123, 101, 182);
    color: white;
}

td.school {
    background-color: rgb(90, 154, 62);
    color: white;
}

td.other {
    background-color: rgb(47, 97, 206);
    color: white;
}

form {
    max-width: 320px;
}

label {
    display: flex;
    margin-bottom: 8px;
}

label > span {
    flex-grow: 1;
}

label > input {
    align-self: end;
    border: 1px solid grey;
    border-radius: 4px;
    height: 24px;
}

label > select {
    align-self: end;
    border: 1px solid grey;
    border-radius: 4px;
    height: 24px;
    width: 151px;
    padding: 1px 2px;
}

table {
    border-collapse: collapse;
}

th {
    width: 302px;
    min-width: 302px;
    color: #366FFF;
}

tr {
    border: 1px solid grey;
    border-radius: 4px;
}
